### Ignore by file types
*.csv
*.tsv
*.pdf
*.svg
*.png
*.jpg

SAMSARA.Rproj
.Rhist
.Rproj.user/
.snakemake/

### Ignore folders
/analysis_data/**
/simulation_data/**
/figures/**
# Keep hidden placeholder .gitkeep file in each folder
!/analysis_data/.gitkeep
!/simulation_data/.gitkeep
!/figures/.gitkeep

### Ignore specific files
!/analysis_data/full_res_colnames.csv
!/analysis_data/infm_res_colnames.csv

